[submodule "common-data-util"]
	path = common-data-util
	url = https://github.com/wahyuuk/common-data-util.git
[submodule "common-model"]
	path = common-model
	url = https://github.com/wahyuuk/common-model.git
[submodule "common-service"]
	path = common-service
	url = https://github.com/wahyuuk/common-service.git
[submodule "api-parent"]
	path = api-parent
	url = https://github.com/wahyuuk/api-parent.git
[submodule "common-api"]
	path = common-api
	url = https://github.com/wahyuuk/common-api.git
